
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  
  <p>
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </p>

  <p>
    <%= f.submit %>
  </p>
