<div class = "well well-sm">
  <h6>Nombre:<%= @list.name %></h6>
  <h6>Url:<%= @list.url %></h6>
</div>
<table class="table sortable" id="taskTable" >
  <tr>
    <th>Descripcion</th>
    <th>Estado</th>
    <th>Prioridad</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
  </tr>
  <% @list.tasks.each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td><%= task.state %></td>
    <td><%= task.priority %></td>
    <td><%= task.type %></td>
    <td><%= link_to 'Edit', [:edit, task.list,task] , class:'btn btn-info' %></td>
    <td><%= link_to 'Destroy', [task.list, task],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
  </tr>
  <% end %>
</table>

  <%= link_to 'New simple task', new_list_simple_task_path(@list) , class: 'btn btn-info'%>
  <%= link_to 'New temporal task', new_list_temporal_task_path(@list) , class: 'btn btn-info'%>
  <%= link_to 'New long task', new_list_long_task_path(@list) , class: 'btn btn-info'%>
  
  <%= link_to 'Back', lists_path %>
