<h2>New temporal task:</h2>
<%= form_for @longTask, url: { :action => :create} do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.label :state %><br>
    <%= f.select :state, ['Pediente','curso', 'Hecha'] %><br>
  </p>
  
  <p>
    <%= f.label :priority %><br>
    <%= f.select :priority, ['alta', 'media','baja'] %>
  </p>
  <p>
    <%= f.label :porcentage %><br>
    <%= f.select :percentage, (0..100) %>%
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 <% end %>
<%= link_to 'Back', lists_path %>